---
const { title } = Astro.props;
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <title>{title}</title>
  </head>
  <body
    class="theme-1 h-dvh bg-[var(--color-bluea-1)] grid place-content-center transation-all duration-300 ease-in-out"
  >
    <slot />
    <script>
      if (localStorage.getItem("theme")) {
        const selectedTheme = localStorage.getItem("theme");
        const bodyClassList = document.querySelector("body").classList;
        bodyClassList.remove("theme-1", "theme-2", "theme-3");
        bodyClassList.add(`theme-${selectedTheme}`);
        document.querySelector(`input[value="${selectedTheme}"]`).checked =
          true;
      }
      // Theme selector
      const themeSelector = document.getElementById("theme-selector");
      const themeInputs = themeSelector.querySelectorAll("input[name='theme']");
      // const themeDiv = document.querySelector(".bg-bluea-2");
      const body = document.querySelector("body");

      themeInputs.forEach((input) => {
        input.addEventListener("change", () => {
          console.log(input.value);
          const selectedTheme = input.value;
          const bodyClassList = body.classList;
          bodyClassList.remove("theme-1", "theme-2", "theme-3");
          bodyClassList.add(`theme-${selectedTheme}`);
          localStorage.setItem("theme", selectedTheme);
        });
      });
    </script>
  </body>
</html>
